<a href="https://colab.research.google.com/github/Raju057/Python-basics/blob/main/IN_lV_CL_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi Raju")

Hi Raju

In [ ]:
#Variable : 
#1.Variable names should starts with alphabets.
#2.Variable names should not contain any special characters like ^ % $ () #!
#3.Variable names contain nubers but not start with numbers

Variable : 
###1.Variable names should starts with alphabets.
###2.Variable names should not contain any special characters like ^ % $ () #!
###3.Variable names contain nubers but not start with numbers

In [ ]:
a = 10

In [ ]:
a

10

In [ ]:
b = 20

In [ ]:
b

20

In [ ]:
_ = 10 #dummy variable

#Fundamental data types

#intergers

In [ ]:
a = 7

In [ ]:
type(a)

int

##Flots- number containig decimals number

In [ ]:
pi = 3.142

In [ ]:
type(pi)

float

In [ ]:
x = 2.0

In [ ]:
type(x)

float

In [ ]:
a =2+3j

In [ ]:
type(a)

complex

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))

<class 'int'>
<class 'float'>

##data types

In [ ]:
a = 1 # Int data type
b = 1.2 # float data type
c = "Raju"# string data type
f = 1+2j # complex data type
c = True # Boolean data types

In [ ]:
type(c)

bool

In [ ]:
class_start_at = 3
you_came_at = 4
you_understanad_everything = you_came_at < class_start_at 
print(f"you understand everything?: {you_understanad_everything}")

you understand everything?: False

# Agenda
1. variable case senstivity 
2. reserved words in python
3. multi assignment of variables
4. user input
5. type casting/type conversion
6. memory block
7. operator
*  logical
*  Equity
*  comparision 
*

#variable case senstivity

In [ ]:
TEN = 10
ten = 20 # TEN & ten both different variable names not same.

# Reserved words in python
1. Reserved words in python : We should not use reserved words variable name
2. python doesnt restrict the user use Reserved words
3. refer python documents for know reserved word

#Multi assignment of variables

In [ ]:
a,b,c = 10,20,"Raju"

In [ ]:
type(b)

int

In [ ]:
type(c)

str

# User input

In [ ]:
x = input("Enter your name: ")
print(f"you have enterd:{x}")

Enter your name: 1
you have enterd:1

In [ ]:
a = int(input("Enter value a: "))
b = int(input("Enter value b: "))
print(f"sum of a and b is: {a+b}")

Enter value a: 1
Enter value b: 2
sum of a and b is: 3

#type casting/type conversion

In [ ]:
#string to integer
a = "12"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
#float to integer
a = 12.2
print(type(a))
a = int(a)
print(type(a))

<class 'float'>
<class 'int'>

In [ ]:
#ineger to boolean
a = 12
print(type(a))
a = bool(a)
print(type(a))
print(a)

<class 'int'>
<class 'bool'>
True

In [ ]:
a = 0
print(type(a))
a = bool(a)
print(type(a))
print(a)

<class 'int'>
<class 'bool'>
False

Date:01/10/2022

Agenda
0. Glimpse of conditional statments

1. operators   
  *   Logical
  *   Equality
  *   Compaarision
  *   Arthimatic
  *   Bitwise
  *   Operators for set and dictionary

2.   String Methods 

3.  Control Flow Statement

Conditional statment(IF **ELSE**)

In [ ]:
if condition:
   print("Excute this statment")
else:
   print("Excute this statment")

Use of Indentation:

In [3]:
raining = True
if raining:
print("lets do WFH")
else :
    print("come to office")

IndentationError: ignored

In [5]:
raining = True
if raining:
  print("since its raining")
  print("lets do WFH")
else :
    print("since its  not raining")
    print("come to office")

since its raining
lets do WFH

In [2]:
raining = True
if raining:
  print("lets do WFH")
else :
    print("come to office")

lets do WFH

if class started let's concentrate else revise the previos class

In [8]:
class_started = True
if class_started:
  print("Concentrate")
else :
  print("lets revise")

Concentrate

In [9]:
class_started = False
if not class_started:
  print("since class is not started")
  print("lets revised ")
else:
  print("since class is started")
  print("lets concentrate ")

since class is not started
lets revised

## and - conditional AND

vegetable| salt |dish

vegetable salt dish
F  |F | F
T  F  F
F T  F
T T T

In [10]:
vig_pre = True
salt_pre = True

if vig_pre and salt_pre:
    print("Its god dish")
else:
    print("its bad dish")

Its god dish

## or conditional OR
if i have to travel 100 kms in day i can use car or bike

if i have car or bike then i can travel 100 kms in a day

In [11]:
car = False
bike = False

if car or bike:
    print("i can travel 100 kms")
else:
    print("i need to buy")

i need to buy

In [12]:
car = False
bike = True

if car or bike:
    print("i can travel 100 kms")
else:
    print("i need to buy")

i can travel 100 kms

In [13]:
car = True
bike = True

if car or bike:
    print("i can travel 100 kms")
else:
    print("i need to buy")

i can travel 100 kms

## Conclusion:
1. use AND operator when you want all the condition to be true

2. use OR operator if  anyone of the condition you want to be true

In [15]:
from IPython.core.prefilter import AssignmentChecker
attendane = 75
Assignment_submited= 75

print(attendane >= 75)
print(Assignment_submited>= 75)

if attendane >= 75 and Assignment_submited >= 75:
    print("elgibal for exam")
else:
    print("not elgibal for exam")

True
True
elgibal for exam

In [16]:
attendane = 75
Assignment_submited= 70

print(attendane >= 75)
print(Assignment_submited>= 75)

if attendane >= 75 and Assignment_submited >= 75:
    print("elgibal for exam")
else:
    print("not elgibal for exam")

True
False
not elgibal for exam

In [17]:
attendane = 75
Assignment_submited= 75

print(attendane >= 75)
print(Assignment_submited>= 75)

if attendane >= 75 and Assignment_submited >= 75:
    print("elgibal for exam")
else:
    print("not elgibal for exam")

True
True
elgibal for exam

## and or together 
attendance | assignment |extra activity

In [21]:
from pickle import TRUE
attendane = 75
Assignment_submited= 70
sports_player = True

print(attendane >= 75)
print(Assignment_submited>= 75)

if attendane >= 75 and Assignment_submited >= 75 or sports_player:
    print("elgibal for exam")
else:
    print("not elgibal for exam")

True
False
elgibal for exam

## Equqlity operators:
orerator|uses|Meaning
-|-|-
is | a is b  => | return true if A and B points to the same object
is not | a is not b |return True if a and b do not points to the same object 
== | a == b | a is equal to b
!= | a!=b | a is not equal to b

when using 'is' then we are comparing memory location
when using 'is not'then we are comparing memory location
== and != is only checking variable value

In [23]:
A = 1
B  = 1
if A is B:
    print("A and B are same")
else :
    print(" A ans b are not same")

A and B are same

In [28]:
A = 1
B  = 2
if A is not B:
    print("A and B are same")
else :
    print(" A and b are not same")

A and B are same

In [26]:
A = 1
B  = 1
if A == B:
    print("A and B are same")
else :
    print(" A ans b are not same")

A and B are same

In [27]:
A = 1
B  = 2
if A == B:
    print("A and B are same")
else :
    print(" A ans b are not same")

 A ans b are not same

In [30]:
A = "raju"
B = "raju"
A is B

True

In [29]:
A = ["Raju","abc"]
B = ["Raju","abc"]
A is B

False

In [31]:
id(A)

140591004525616

In [32]:
id(B)

140591004525616

In [33]:
A == B

True

### Comparision 
operation|meaning
-|-
<| A<B
<=|A<=B
>|A>B
>=|A>=B

In [35]:
attendane = 75
Assignment_submited= 75

print(attendane >= 75)
print(Assignment_submited>= 75)

if attendane >= 75 and Assignment_submited >= 75:
    print("elgibal for exam")
else:
    print("not elgibal for exam")

True
True
elgibal for exam